aiohttp
anytree
apscheduler
aria2p
asgiref
asyncio
beautifulsoup4==4.9.1
bencode.py
bencoding
bs4==0.0.1
cfscrape
cinemagoer
cloudscraper
dnspython
ffmpeg-python
feedparser
flask
gc-python-utils
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google~=3.0.0
gunicorn
hachoir
httplib2==0.18.0
httpx
irc
lk21
lxml
mediainfo
motor
oauth2client<4.0.0
pillow
psutil
pybase64
pycountry
pymongo
playwright
pyrogram==2.0.59
python-dotenv
python-magic
python-telegram-bot==13.15
qbittorrent-api
requests
setuptools
speedtest-cli
telegraph
tenacity
tgCrypto
urllib3<2.0.0
xattr
waybackpy
yt-dlp
