# Required
pyrogram==2.0.106
Pillow==10.2.0

setuptools==69.0.3
TgCrypto==1.2.5
python-dotenv==1.0.1
hachoir==3.3.0
beautifulsoup4==4.12.3

# DDL
requests==2.32.5
httpx==0.27.0

# Database
dnspython==2.6.1
feedparser==6.0.11
apscheduler==3.10.4
motor==3.3.2

# Others
psutil==5.9.8
cloudscraper==1.2.71
lk21==1.6.0
lxml==5.1.0
irc==20.5.0
nodriver
curl_cffi

# Anipy
anipy-api==3.10.0
anipy-cli==3.10.0
cachetools==5.3.3

# Surf-TG Web Server Dependencies
aiofiles==23.2.1
aiohttp==3.9.3
aiohttp_session==2.12.0
cryptography==42.0.5

# MediaSearch Dependencies
marshmallow==3.21.3
umongo==3.0.1
